/* mainvisual */
.swiper-slide img {
    width: 100%;
    aspect-ratio: 16/6;
    object-fit: cover;
    object-position: center;
    display: block;
}

.scroll {
    /* height: calc(500px - 20vw); */
    height: 500px;
    padding: 20px 3vw;
    border: solid 1px black;
    overflow-y: scroll;
}
#mark.scroll {
    height: 700px;
}
#mark span {
    padding-left: 4px;
}

article li {
    padding: 13px 0;
    border-bottom: #9bb5ff 1px solid;
}