html {
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}
main {
    display: flex;
}

section {
    padding: 1% 0;
    margin: 0 10px 3%;
}

@media (max-width: 700px) {
    section {
        margin: 0 5% 3%;
    }
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

/* title(header) */
h1 {
    text-align: center;
    font-size: 13px;
    display: inline-block;
    /* vertical-align: middle; */
}

h2 {
    /* text-align: center; */
    font-size: clamp(30px, 5vw, 36px);
    padding-left: clamp(12px, 2%, 30px);
    border-bottom: 1px solid #142164;
    border-left: 15px solid #142164;
    margin: 40px 10px 30px;
}

@media (max-width: 700px) {
    h2 {
        margin: 30px 5%;
    }
}

h3 {
    /* text-align: center; */
    font-size: 1.2em;
    margin: 10px 0;
}
h4 {
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 10px 30px;
    border-bottom: solid 1px #47465f;
}
h5 {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

/* link */
.link {
    color: #342dff;
    text-decoration-line: underline;
}

.link:visited {
    color: #3f3f3f;
}

.link:hover {
    color: #e7b500;
}

/* supplement */
.supplement {
    font-size: 0.8rem;
    color: #7d7d7d;
    margin: 3px 30px 30px;
}
.supplement ul {
    list-style-type: square;
}

/* page jump */
.jump-page {
    margin: 10px 40px 30px;
    list-style-type: circle;
}
.jump-page li {
    margin-bottom: 3px;
}
.jump-page li:hover{
    color: #e7b500;
    list-style-type: square;
    transform: translateY(-0.1rem);
    transition: 0.3s ease;
}

/* page top jump */
#page_top_btn {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #142164;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    display: none;
}

#page_top_btn:hover {
    background-color: #22327e;
    transition: 0.3s;
}

/* footer */
footer {
    font-size: 0.7rem;
    padding: 10px 0;
    text-align: center;
    color: #ddd;
    background-color: #111;
}