html {
    font-weight: 400;
    font-style: normal;
}

/* title(header) */
h1 {
    text-align: center;
    font-size: 13px;
    display: inline-block;
    /* vertical-align: middle; */
}

h2 {
    /* text-align: center; */
    font-size: clamp(30px, 5vw, 50px);
    padding-left: clamp(12px, 2%, 30px);
    border-bottom: 1px solid #142164;
    border-left: 15px solid #142164;
    margin: 30px 10px;
}

@media (max-width: 700px) {
    h2 {
        margin: 30px 5%;
    }
}

h3 {
    /* text-align: center; */
    font-size: 1.2em;
    margin: 10px 0;
}

h4 {
    font-size: 1.2em;
    /* text-align: center; */
}

/* link */
.link {
    color: #342dff;
    text-decoration-line: underline;
}

.link:visited {
    color: #3f3f3f;
}

.link:hover {
    color: #e7b500;
}

main {
    display: flex;
}

section {
    padding: 1% 0;
    margin: 0 10px 3%;
}

@media (max-width: 700px) {
    section {
        margin: 0 5% 3%;
    }
}

/* page top jump */
#page_top_btn {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #142164;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    display: none;
}

#page_top_btn:hover {
    background-color: #22327e;
    transition: 0.3s;
}

/* footer */
footer {
    font-size: 0.7rem;
    padding: 10px 0;
    text-align: center;
    color: #ddd;
    background-color: #111;
}